{% extends "layout.html" %}

{% block content %}
<div id="cards">

    <div class="card" id="starter">
        <img class="imgcard" src="https://app.rocketseat.com.br/static/media/Starter.64c237cc.svg" alt="logo">
        <a href="https://rocketseat.com.br/starter">starter</a>
        <p>5 módulos</p>
        <p>Free</p>
    </div>

    <div class="card" id="launchbase">
        <img class="imgcard" src="https://app.rocketseat.com.br/static/media/LaunchBase.08285320.svg" alt="logo">
        <a href="https://rocketseat.com.br/launchbase">LaunchBase</a>
        <p>15 módulos</p>
        <p>R$1,000.00</p>
    </div>

    <div class="card" id="gostack">
        <img class="imgcard" src="https://app.rocketseat.com.br/static/media/GoStack.83a178a0.svg" alt="logo">
        <a href="https://rocketseat.com.br/gostack">GoStack</a>
        <p>20 módulos</p>
        <p>R$2,000.00</p>
    </div>
</div>

<div id="modal" class="modal" hidden>
    <img id="x" src="https://svgsilh.com/svg/146064.svg" alt="img">
    <iframe id="iframe" src="" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}