<!DOCTYPE html>

<html>

    <head>
        <link href=/styles.css rel="stylesheet">
        <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon"/>
        <title>
            Favicon
        </title>
    </head>

    <body>

        <div id="modal" class="modal">
            <img id="x" src="https://svgsilh.com/svg/146064.svg" alt="img">
            <iframe id="iframe" src="http://www.rocketseat.com.br/{{id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></div>
        </div>
        <script src="/script.js"></script>

    </body>

</html>