* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    text-align: left;
}

main {
    margin: 0 16.4%;
}

#content {
    min-width: 700px;
}

header {
    margin: 0 0 30px 0;
    padding: 0 0 0 16.4%;
    text-align: left;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #111111;
}

#logo {
    margin: 27px 50px 27px 0;
    width: 90.6px;
    height: 26.9px;
}

.menu {
    height: auto;
    width: auto;
    display: inline-flex;
    margin: auto 30px auto 0;
    text-decoration: none;
    color: rgb(255, 253, 253);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
}

h1 {
    font-size: 24px;
    color: #111111;
    margin: 55px 0 24px 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #111111;
    margin: 30px 0 4px 0;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #777777;
    margin: 4px 0 31px 0;
}

h4 {
    font-size: 24px;
    color: #111111;
    margin: 41px 0 19px 0;
}

.image {
    border-radius: 8.57px;
    width: 172px;
    height: 80px;
    margin-right: 20px;
}

.secondFractionOfCard {
    text-align: left;
}

.foodName {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.authorName {
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

a {
    text-decoration-line: none;
}

.center {
    text-align: center;
}

.receiptImg {
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.receiptAuthor {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #777777;
}

.receiptTitle {
    font-size: 24px;
    color: #111111;
}

li {
    list-style-type: none;
    margin: none;
}

.receiptText {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.lastText {
    margin: 0 0 50px;
}

.button {
    border-radius: 4px;
    background: #6558C3 100%;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    height: 37px;
    width: 136px;
    margin: 55px 0 24px auto;
    text-align: center;
    font-weight: bold
}

.Top {
    display: grid;
    grid-template-columns: 80% 1fr;
    width: 100%;
    margin: 0 0 1px
}

.createText {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 30px 0 10px 0
}

.createLink {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 10px 0;
    font-size: 16px;
    color: #6558C3
}

.createInput {
    width: 100%;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0 0 15px 0;
}

.LASTcreateInput {
    width: 100%;
    height: 257px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0 0 30px 0
}

.EditReceiptTop {
    display: grid;
    grid-template-columns: 1fr 95px 140px;
    width: 100%;
    margin: 0 0 1px
}

.Deletebutton {
    border-radius: 4px;
    background: #DC4747 100%;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    height: 37px;
    width: 92px;
    margin: 55px 0 24px auto;
    text-align: center;
    font-weight: bold
}

.img-chef{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto -30px
}
.chef{
    text-align:center
}