{% extends "admin/admin_layout.njk" %}

{% block content %}
    <form method="POST" action="/admin/chef?_method=POST">
        <div class="receiptTop">
            <h1>Criando chef</h1>
            <button class="button" type="submit">Salvar chef</button>
            <button class="button" type="submit">Delete</button>
        </div>
        {% include "./chef_fields.njk" %}
    </form>
{% endblock %}