<div>
    <div class="createText">Imagem da receita</div>
    <input class="createInput" type="text" name="avatar_url" value="{{receipt.image}}" placeholder="http://">
</div>

<div>
    <div class="createText">Nome</div>
    <input class="createInput" type="text" name="name" value="{{receipt.title}}" placeholder="name">
</div>