{% extends "admin/admin_layout.njk" %}

{% block content %}
    {% for chef in chefs %}
    <div class="">
        <img src="">
        <div class=""></div>
        <link href="">
    </div>
    {% endfor %}
{% endblock %}