* {
  margin: none;
  padding: none;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}
/* Layout */
header {
  background-color: gray;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-align: center;
  font-family: var(--font);
  padding: 30px;
  box-sizing: border-box;
}

a:hover {
  color: green;
  transition: 400ms;
}

/* teacher */
.teacherCard {
  border: black solid;
  overflow-y: auto;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
  box-shadow: 5px 5px 5px black; /*shadow */
  animation-name: card;
  animation-duration: 1700ms;
}

@keyframes card {
  from {
    transform: translateY(50px);
    height: 20%;
    width: 20%;
    opacity: 0;
  }
}

.imgTeachercard {
  width: 100%;
  height: 100%;
}

.details {
  display: grid;
  padding: 7px 5px;
}

.details h1 {
  font-size: 15px;
  margin: 0 0 10px 0;
}

.details div div:nth-child(1) {
  text-align: left;
  font-size: 9px;
  color: #aaa;
}

.details div div:nth-child(2) {
  text-align: left;
  font-size: 13px;
}

.details div :last-child {
  border-bottom: #aaa solid 1px;
}

.details :last-child :last-child {
  border-bottom: none;
}
