* {
  margin: none;
  padding: none;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}
/* Layout */
header {
  background-color: gray;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-align: center;
  font-family: var(--font);
  padding: 30px;
  box-sizing: border-box;
}

a:hover {
  color: green;
  transition: 400ms;
}

/* teachers'card */
.teacherCard {
  margin: auto;

  border: black solid;
  border-radius: 10px;
  overflow-y: hidden;
  box-shadow: 5px 5px 5px black; /*shadow */

  display: grid;
  grid-template-columns: 40% 60%;

  animation-name: card;
  animation-duration: 2700ms;
  animation-fill-mode: forwards;
}

@keyframes card {
  from {
    transform: translateY(50px);
    height: 10px;
    width: 5px;
    opacity: 0;
  }
  to {
    width: 700px;
    height: 350px;
  }
}
/* Avatar */

.imgTeachercard {
  width: auto;
  height: auto;
}

/* details */
.details {
  display: grid;
  padding: 7px 10px;
}

.details h1 {
  font-size: 15px;
  margin: 0 0 5px 0;
}

.details div div:nth-child(1) {
  text-align: left;
  font-size: 7px;
  color: #aaa;
}

.details div div:nth-child(2) {
  text-align: left;
  font-size: 12px;
}

.details div :last-child {
  border-bottom: #aaa solid 1px;
}

.details :last-child :last-child {
  border-bottom: none;
}

.register{
  border: none;
  shape-outside: none;
  width: 100%;
}

.registerTypeOfClass{
  width: auto;
}