<div>
    <div class="createText">Imagem da receita</div>
    <input class="createInput" type="text" name="image" value="{{receipt.image}}" placeholder="http://">
</div>

<div>
    <div class="createText">Nome</div>
    <input class="createInput" type="text" name="title" value="{{receipt.title}}" placeholder="name">
</div>

<div>
    <div class="createText">Autor</div>

    <select id="select" class="createInput" class="register" name="chef_id">
        <option value="" hidden="hidden" {% if student.school_year == "" %} selected="selected" {% endif %}></option>
        {% for chef in chefsList %}
        <option value="{{chef.id}}" {% if chef.id == receipt.chef_id %} selected="selected" {% endif %}>{{chef.name}}</option>
        {% endfor %}
    </select>
</div>                  

<div>
    <div class="createText">Ingredientes</div>
    <div id="ingredients">
        <div class="ingredient">
            {% if not receipt %}
                <input class="createInput" type="text" name="ingredients[]" value="{{ingredient}}" placeholder="Ingredientes"/>
            {% else %}
                {% for ingredient in receipt.ingredients %}
                    <input class="createInput" type="text" name="ingredients[]" value="{{ingredient}}" placeholder="Ingredientes"/>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <a type="button" class="createLink add-ingredient">Adicionar novo ingrediente</a>
</div>

<div>
    <div class="createText">Modo de preparo</div>
    <div id="steps">
        <div class="step">
            {% if not receipt %}
                <input class="createInput" type="text" name="preparation[]" value="{{steps}}" placeholder="Passos">
            {% else %}

                {% for steps in receipt.preparation %}
                    <input class="createInput" type="text" name="preparation[]" value="{{steps}}" placeholder="Passos"/>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <a type="button" class="createLink add-step">Adicionar Novo Passo</a>
</div>

<div>
    <div class="createText">Informações Adicionais</div>
    <input class="LASTcreateInput" type="text" name="information" value="{{receipt.information}}" placeholder="Informações">
</div>