{% extends "admin/admin_layout.njk" %}

{% block content %}
    <form method="POST" action="/admin/recipes?_method=POST">
        <div class="receiptTop">
            <h1>Criando receita</h1>
            <button class="button" type="submit">Salvar receita</button>
        </div>
        {% include "./fields.njk" %}

    </form>
{% endblock %}