{% extends "layout.njk" %}

{% block content %}

    <div id="cards">
        {% for card in courses %}
            <div class="card" id={{card.id} }="}">
                <img class="imgcard" src={{card.src} }="}" alt="logo">
                <a href="https://www.rocketseat.com.br/{{card.href}}">{{card.id}}</a>
                <p>{{card.modules}}</p>
                <p>{{card.price}}</p>
            </div>
        {% endfor %}
    </div>

    {# <div id="modal" class="modal" hidden>
    <img id="x" src="https://svgsilh.com/svg/146064.svg" alt="img">
    <iframe id="iframe" src="" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> #}

{% endblock %}