{% extends "layout.njk" %}

{% block content %}

    <form class="teacherCard" method="POST" action="/teacher">
        <section>
            <img class="imgTeachercard" src="{{teacher.avatar_url}}">
        </section>
        <section class="details">
            <h1>Edit</h1>
            {% include "fields.njk" %}
        </section>
    </form>

{% endblock %}