{% extends "layout.njk" %}

{% block content %}

    <div class="teacherCard">
        <section>
            <img class="imgTeachercard" src="{{teacher.avatar_url}}" >
        </section>

        <section class="details">
            <h1>Details</h1>
            <div>
                <div>Name:</div>
                <div>{{teacher.name}}</div>
            </div>
            <div>
                <div>Age:</div>
                <div>{{teacher.age}}</div>
            </div>
            <div>
                <div>Bachelor:</div>
                <div>{{teacher.degree}}</div>
            </div>
            <div>
                <div>Type of class:</div>
                <div>{{teacher.type_of_class}}</div>
            </div>
            <div>
                <div>Classes:</div>
                <div>
                    {% for class in teacher.classes %}
                        <span class="classes">{{class}}</span>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div>Since:</div>
                <div>{{teacher.since}}</div>
            </div>
            <button class="button" onclick=window.location.href="/teacher/{{teacher.id}}/edit">Edit</button>

        </section>
    </div>

{% endblock %}