{% extends "layout.njk" %}

{% block content %}

    <div class="teacherCard">
        <section>
            <img class="imgTeachercard" src="https://source.unsplash.com/collection/489203/280x350">
        </section>

        <section class="details">
            <h1>Details</h1>
            <div>
                <div>Name:</div>
                <div>{{teacherToShow.name}}</div>
            </div>
            <div>
                <div>Age:</div>
                <div>{{teacherToShow.age}}</div>
            </div>
            <div>
                <div>Bachelor:</div>
                <div>{{teacherToShow.degree}}</div>
            </div>
            <div>
                <div>Type of class:</div>
                <div>{{teacherToShow.type_of_class}}</div>
            </div>
            <div>
                <div>Classes:</div>
                <div>{{teacherToShow.classes}}</div>
            </div>
            <div>
                <div>Since:</div>
                <div>2015</div>
            </div>

        </section>
    </div>

{% endblock %}