{% extends "../layout.njk" %}

{% block content %}
    <div class="table">

        <div class="header">
            <button class="seeButton" onclick="location.href='/teacher/register'">New Teacher</button>
            <form action="/teachers" method="GET">
                <input class="input" type="text" name="filter" placeholder="Filtrar por nome">
                <button class="seeButton" type="submit">Filtrar</button>
            </form>
        </div>

        <table >
            <thead>
                <tr class="trTeachers">
                    <th>
                        <div>Name</div>
                    </th>
                    <th>
                        <div>Classes</div>
                    </th>
                    <th>
                        <div>Students</div>
                    </th>
                    <th>
                        <div>Action</div>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr class="trTeachers">
                        <td >
                            <div class="teacherOnTable">
                                <img class="imgTable" src="{{teacher.avatar_url}}">
                                <div>{{teacher.name}}</div>
                            </div>
                        </td>
                        <td>
                            {% for classes in teacher.subjects_taught %}
                                <div class="classes">{{classes}}</div>
                            {% endfor %}
                        </td>
                        <td>
                            <div>{{teacher.total_students}}</div>
                        </td>
                        <td>
                            <div class="DIVseeButton">
                                <a class="seeButton" href="/teacher/{{teacher.id}}">See</a>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>

        </table>

        <div id="pagination" data-totalpage="{{totalPage}}" data-page="{{page}}" data-filter="{{filter}}"></div>
    </div>

{% endblock %}