<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
        <main id="content">

           
        </main>

        <footer id="bottom">
            <span id="bottomText">Todos direitos reservados Foodfy</span>
        </footer>

    </body>
   
</html>