{% extends "layout.njk" %}

{% block content %}
    <img id="imgReceipt" src = {{receipt.image}}> 

    <p Id="foodNameofReceipt"> {{receipt.title}} </p>
    <p Id="authorNameofReceipt"> {{receipt.author}}</p>

    <p>ingredientes</p>
    <ul>
        {% for list in receipt.ingredients %}
            <li> {{list}};</li>
        {% endfor %}
    </ul>
    <p>Modo de Preparo</p>
    <ul>
        {% for list in receipt.preparation %}
            <li> {{list}};</li>
        {% endfor %}
    </ul>
    <p>informações adicionais</p>
    <p>{{receipt.information}}</p>


{% endblock %}