{% extends "layout.njk" %}

{% block content %}
    <img id="imgReceipt" src = 'https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png'> 

    <p Id="foodNameofReceipt"> foods name </p>
    <p Id="authorNameofReceipt"> author name name </p>

{% endblock%}