{% extends "layout.njk" %}

{% block content %}

    <img id="imgReceipt" src={{receipt.image}}>

    <p id="foodNameofReceipt">
        {{receipt.title}}
    </p>
    <p id="authorNameofReceipt">{{receipt.author}}</p>

    <p class="titlesOfReceipt">ingredientes <span id="hiddenFunctionOfIngredients" class="hiddenLink">esconder</span></p>
    
    <ul id="hiddenFunctionOfIngredientsTEXT" class="listOfReceipt" hidden>
        {% for list in receipt.ingredients %}
            <li>{{list}};</li>  
        {% endfor %}
    </ul>

    <p class="titlesOfReceipt">Modo de Preparo <div class="hiddenLink hiddenFunctionOfSteps">esconder</div><div class="hiddenLink hiddenFunctionOfSteps" hidden>mostrar</div></p>

    <ul id="hiddenFunctionOfStepsTEXT" class="listOfReceipt" hidden>
        {% for list in receipt.preparation %}
            <li>{{list}}</li>
        {% endfor %}
    </ul>

    <p class="titlesOfReceipt">informações adicionais <span id="hiddenFunctionOfInformations" class="hiddenLink">esconder</span></p>

    <span id="hiddenFunctionOfInformationsTEXT" class="textOfReceipt" hidden>{{receipt.information}}</span>

{% endblock %}